.button {
  width: 372px;
  height: 63px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;
  color: #ffffff;
  border: none;
  transition: 0.5s ease;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.button:hover {
  transform: scale(1.2);
}
.primary {
  background-color: chartreuse;
}
.primary1 {
  background-color: chartreuse;
}
.primary1:hover {
  transform: none;
  color: grey;
}
.primary2 {
  background-color: gray;
}
.primary2:hover {
  transform: none;
  color: green;
}
.array {
  background-color: transparent;
  font-size: 30px;
  width: 50px;
  margin-left: 20px;
}
